/*-- scss:defaults --*/

/*-- scss:rules --*/

.muted {
  color: $text-muted;
}

.extrasmalltext {
  font-size: small;
}

.smalltext {
  font-size: medium;
}

.mediumtext {
  font-size: x-large;
}

.right-justify {
  text-align: right;
}